*__pycache__*
venv/
project/circuits/*
!project/circuits/.gitkeep
debug/project/circuits/*
!debug/project/circuits/.gitkeep
*output.txt
work/*
!work/.gitkeep
debug/work*
!debug/work/.gitkeep
invisible/
.idea/
*.png
*.csv
*.sh
*MC_done.json
*MC_jobs.json
*Raw_data.csv