*__pycache__*
venv/

!project/circuits/.gitkeep
project/circuits/*

!debug/project/circuits/.gitkeep
debug/project/circuits/*
!debug/project/circuits/nand
!debug/project/circuits/nand/*
debug/project/include/models.pm
debug/backup_test/test_jobs.json

work/*
!work/.gitkeep

debug/work*
!debug/work/.gitkeep

invisible/
.idea/

*.png
*.csv
*.sh
*.ic0
*.st0
*.tr0
*.annotate
*.hm
*.log
*.ava.*
*.user.*
*output.txt
*MC_done.json
*MC_jobs.json
*Raw_data.csv

project/include/*